
#root{
  width: 100%;
  display: block;
  background-color: whitesmoke;
}
#navBar{
  width: 75%;
  margin: 0 auto;
  background-color: rgba(101, 101, 78, 0.61);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}